* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgb(165, 20, 20), rgb(115, 117, 115));
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 183, 0);
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 45%;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
}