* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* LOGIN CARD */

.login-container {
    width: 380px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    animation: slideUp 1s ease;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    color: #fff;
    text-align: center;
}

.subtitle {
    color: #cfd9df;
    text-align: center;
    margin-bottom: 30px;
}


/* INPUTS */

.input-group {
    margin-bottom: 20px;
}

label {
    color: #e0e0e0;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 14px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    transition: 0.3s;
}

input:focus {
    border-color: #00f2fe;
    box-shadow: 0 0 12px #00f2fe;
    outline: none;
}


/* BUTTON */

button {
    width: 100%;
    height: 50px;
    background: linear-gradient(135deg, #00f2fe, #4facfe);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button.loading {
    pointer-events: none;
}

.btn-text {
    color: #000;
}

.loader {
    width: 22px;
    height: 22px;
    border: 3px solid #000;
    border-top: 3px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: spin 1s linear infinite;
}

button.loading .btn-text {
    display: none;
}

button.loading .loader {
    display: block;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* MESSAGE */

.message {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    display: none;
}

.message.success {
    color: #00ffb3;
}

.message.error {
    color: #ff4b5c;

}
