* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


/* QUIZ CARD */

.quiz-container {
    width: 420px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #cfd9df;
    margin-bottom: 15px;
}


/* TIMER */

.timer {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    color: #00f2fe;
}


/* QUESTION */

#question {
    margin-bottom: 15px;
}


/* OPTIONS */

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options label {
    background: rgba(0, 0, 0, 0.4);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.options label:hover {
    background: rgba(0, 242, 254, 0.3);
}

input[type="radio"] {
    margin-right: 8px;
}


/* BUTTONS */

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #00f2fe, #4facfe);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);
}

.hidden {
    display: none;
}


/* RESULT */

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #00ffb3;

}
