* {

    padding: 0;
    margin: 0;

}

body {
    height: 100vh;
    width: 100%;

}

.container {

    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;

}

.img-wall {
    height: 100%;
    width: 100%;


}

.clock-body {
    position: absolute;
    height: 50%;
    width: 50%;
    left: 25%;
    top: 28%;
}

.box-clock {
    height: 150px;
    width: 250px;
    /* background-color: black; */
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 43%;
    z-index: 1;
}

#text {
    font-size: 50px;
}